---
layout: layouts/home.njk
---
{%- if site.text -%}
<div id="text">
	{{ site.text }}
</div>
{%- endif -%}
<hr/>
{%- set pagelist = search.pages("type=pages visible=true", "order=asc") -%}
{%- if pagelist | length -%}
	{%- include "templates/pages.njk" -%}
{%- endif -%}
{%- include "templates/links.njk" -%}
