---
layout: layouts/base.njk
menu:
  visible: true
  title: 📝 Notes
  order: 2
---

<h2>All notes</h2>
{% set postslist = search.pages("type=posts", "date=desc") %}
{% include "templates/postslist.njk" %}
