---
layout: layouts/base.njk
menu:
  visible: true
  title: 📝 Blog
  order: 1
---

<h2>All posts</h2>
{% set postslist = search.pages("type=posts", "date=desc") %}
{% include "templates/postslist.njk" %}
