---
layout: layouts/home.njk
menu:
  visible: false
  title: 📝 Posts
  order: 1
---

<h2>Posts</h2>
{% set postslist = search.pages("type=posts", "date=desc") %}
{% include "templates/postslist.njk" %}
