@import "css/simple.css";
@import "css/simple-plus.css";
@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/base16/tomorrow-night.min.css";

:root {
	font-size: 14px;

	body {
		grid-template-columns: 1fr min(65rem, 90%) 1fr;
	}
}

.centered, .centered-img {
	display: block;
	margin: 0 auto;
}

.left, .left-img {
	border-radius: 10%;
	float: left;
	padding: 10px
}

.right, .right-img {
	border-radius: 10%;
	float: right;
	padding: 10px
}

.no-select {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.links-nav {
	text-align: center;

	a {
		font-weight: bold;
	}
}

.postlist {
	list-style: none;

	.postlist-post {
		time, span {
			user-select: none;
		};

		time {
			font-style: italic;
		}
	};
}
