@import "css/simple.css";
@import "css/simple-plus.css";
@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/base16/gruvbox-light-soft.min.css";

:root {
	--sans-font: sans-serif;
	--mono-font: monospace;
	font-family: var(--mono-font);
	font-size: 14px;

	/* Adapted from Gruvbox */
	color-scheme: light dark;
	--bg: light-dark(#fbf1c7, #282828);
	--accent: light-dark(#665c54, #bdae93);
	--accent-bg: light-dark(#fbf1c7, #282828);
	--border: light-dark(#7c6f64, #a89984);
	--text: light-dark(#3c3836, #ebdbb2);
	--text-light: light-dark(#7c6f74, #a89984);
	--code: light-dark(#504945, #d5c4a1);
	--preformatted: light-dark(#7c6f74, #a89984);
	--marked: light-dark(#928374, #928374));
	--disabled: light-dark(#7c6f64, #efefef);
	--page-width: 50rem;

	body {
		grid-template-columns: 1fr min(var(--page-width), 90%) 1fr;

		header {
			border: 1px solid var(--text-light);
			border-radius: 15px;
			width: min(var(--page-width), 90%);
			margin: 0 auto;
			margin-top: 0.5rem;
			padding: 0.1rem 0.1rem 0.1rem 0.1rem;

			h1 {
				a {
					border: unset;
					margin: unset;
					padding: unset;
				}
			}
		}
	}

	button {
		font-family: var(--mono-font);
	}

	.centered, .centered-img {
		display: block;
		margin: 0 auto;
	}

	.grid-parent {
		column-gap: 5px;
		display: grid;
		grid-template-columns: repeat(auto-fit, 29rem);
		justify-content: center;
		margin: 0 auto;
		row-gap: 5px;

		div {
			border: 1px solid var(--accent-bg);
			border-radius: 1%;
			margin: 0 auto;
			min-width: 29rem;
			padding: 10px;

			h2, h3, h4 {
				margin-top: 1rem;
				text-align: center;
			}
		}
	}

	.left {
		float: left;
		padding: 0.05rem;
	}

	.right {
		float: right;
		padding: 0.05rem;
	}

	.polaroid {
		margin: 0 auto;
		border: 1rem solid white;
		border-bottom: 1rem solid white;
		color: black;
		background-color: white;
		max-width: 30rem;
	}

	.no-select {
		user-select: none;
	}

	.links-nav {
		text-align: center;

		a {
			font-weight: bold;
		}
	}

	.post-list {
		list-style: none;

		.post-list-post {
			time, span {
				user-select: none;
			};

			time {
				font-style: italic;
			};

			.topic {
				float: right;
			};
		};
	}
}
