<ul class="postlist">
  {% for post in postslist %}
  <li class="postlist-post">
    <time datetime="{{ post.date | date('yyyy-MM-dd') }}">
      {{ post.date | date('dd/MM/yyyy') }}
    </time>
    <span>&bull;</span>
    <a href="{{ post.url }}" {% if entry.data.url == url %} aria-current="page"{% endif %}>
      {%- if post.title -%}
        <strong>{{ post.title }}</strong>
      {%- else %}
        <code>{{ post.url }}</code>
      {%- endif -%}
    </a>
    {%- if post.topic -%}
    <span class="topic">
        (<em>{{ post.topic }}</em>)
    </span>
    {% endif -%}
  </li>
{% endfor %}
</ul>
