---
layout: layouts/base.njk
bodyClass: body-home
---

{%- include "templates/bulletin.njk" -%}

<div class="grid-parent">
		<div>	
		{{ content | safe }}
		</div>
		<div>
				<h3>Recent posts 📝</h3>
				{% set postslist = search.pages("type=posts", "date=desc", 8) %}
				{% include "templates/postslist.njk" %}
				<a href="./posts">See more...</a>
		</div>
</div>
